<h2>Available Vocab Lists</h2>
<h2><a href='/vocab/<%= @sample[:id] %>' ><%= @sample[:name] %></a></h2>
<ul>
  <li><%= @word %></li>
  <li><%= @word1 %></li>
  <li>...</li>
</ul>

<% if signed_in? %>
  <% @user_lists.each do |user_list| %>
  <h2><a href='/vocab/<%= user_list[:id] %>'><%= user_list[:name] %></a>
  <% end %>
<% end %>

<h2>Constructions</h2>
<ul>
  <li>No Constructions Yet</li>
  <li>No Constructions Yet</li>
  <li>...</li>
</ul>