<h2><%= @list[:name] %></h2>
<% if @list[:vocab].empty? %>
  <% if signed_in? %>
    <h4>Words must be added in order to display</h4>
  <% else %>
    <h4>Must sign in to add words that will display</h4>
  <% end %>
<% end %>
<% @list[:vocab].each do |word_object| %>
  <li><a href="/vocab/<%= @list[:id] %>/<%= word_object.word %>">"<%= word_object.word %>"</a> - <%= word_object.type %></li>
<% end %>

<% if signed_in? %>
  <% if list_owner?(@list) || list_editor?(@list) %>
    <p><a href="/vocab/<%= @list[:id] %>/add_word">Add a Word</a></p>
  <% end %>
  <% if list_owner?(@list) %>
    <a href="/vocab/<%= @list[:id] %>/add_editor">Add Editor</a>
    <h2>Words queued for deletion by an editor</h2>
    <% if @list[:delete_queue].empty? %>
      <p>None</p>
    <% end %>
    <% @list[:delete_queue].each do |word_object| %>
      <p><%= word_object.to_s %></p>
      <!-- keep -->
      <form method="post" action='/vocab/<%= @list[:id] %>/<%= word_object.to_s %>/dequeue_word/delete_queue'>
        <button type="submit" name="dequeue_word_deletion">Keep Word</button>
      </form>
      <!-- delete -->
      <form method="post" action="/vocab/<%= @list[:id] %>/<%= word_object.to_s %>/delete">
        <button type="submit" name='delete_word'>Delete Word</button>
      </form>
    <% end %>
    <h2>Editors' requests for new Words</h2>
    <% if @list[:new_word_queue].empty? %>
      <p>None</p>
    <% end %>
    <% @list[:new_word_queue].each do |word_object| %>
            <!-- add new word -->
      <form action='/vocab/<%= @list[:id] %>/add_word' method='post'>
        <div>
          <input type="text" name="word" value="<%= word_object.to_s %>">
          <input type="text" name="word_type" value="<%= word_object.type %>">
        </div>
        <div>
          <button type='submit' name='add_new_word'>Add Word</button>        
        </div>
      </form>
      <!-- delete -->
      <form method="post" action='/vocab/<%= @list[:id] %>/<%= word_object.to_s %>/dequeue_word/new_word_queue'>
        <button type="submit" name="dequeue_new_word">Don't Add</button>
      </form>
    <% end %>
  <% end %>
<% end %>
