<h2><%= @list[:name] %></h2>
<% @list[:vocab].each do |word_object| %>
  <li><a href="/vocab/<%= @list[:id] %>/<%= word_object.word %>">"<%= word_object.word %>"</a> - <%= word_object.type %></li>
    <% unless word_object.forms.empty? %>
      <ul>
        <% word_object.forms.each do |grammar_term, form| %>
        <li>"<%= form %>": <%= grammar_term %> form</li>
      </ul>
      <% end %>
    <% end %>
<% end %>

<% if signed_in? %>
  <p><a href="/vocab/<%= @list[:id] %>/add_word">Add a Word?</a></p>
<% end %>