<% word = @word_object.word %>
<h2><%= word %></h2>
<form method="post" action="/vocab/<%= @list[:id] %>/<%= word %>/translation">
  <button type="submit" name="see_translation">See Translation</button>
</form>

<% if session[:see_translation] %>
  <p><%= @word_object.translation %></p>
<% session.delete(:see_translation) %>
<% end %>

<% unless @word_object.forms.empty? %>
  <h2>Forms of the word</h2>
  <ul>
      <% @word_object.forms.each do |form| %>
        <li>
          <p class="inline"><%= form.to_s %></p>
          <form class='inline' action="/vocab/<%= @list[:id] %>/<%= word %>/delete_word_form/<%= form.to_s %>" method='post'>
            <button name="delete_form">Delete form</button>
          </form>
          <h5>Markers</h5>
          <ul>
            <% form.markers.each do |marker| %>
              <li>
                <%= marker.to_s %>
              </li>
            <% end %>
          </ul>
        </li>
  </ul>
  <% end %>
<% end %>

<form method="post" action="/vocab/<%= @list[:id] %>/<%= word %>/add_translation">
  <input type="text" name="new_translation">
  <button type="submit">Add Translation</button>
</form>

<% if list_owner?(@list) %>
  <!-- Add Editor's suggestion -->
  <% if @word_object.provisional_translation && !@word_object.provisional_translation.empty? %>
    <h2>Editor suggested translation</h2>
    <form method="post" action="/vocab/<%= @list[:id] %>/<%= word %>/confirm_translation">
      <input type="text" name="confirm_translation" value="<%= @word_object.provisional_translation %>">
      <button type="submit">Add Translation</button>
    </form>
    <!-- Delete Editor's Suggestion -->
    <form method="post" action="/vocab/<%= @list[:id] %>/<%= word %>/clear_provisional_translation">
      <button type="submit">Reject Translation</button>
    </form>
  <% else %>
    <p>None</p>
  <% end %>
<% end %>

<p><a href="/vocab/<%= @list[:id] %>/<%= word %>/add_word_form">Add a Word Form</a></p>

<% if list_owner?(@list) %>
  <h2>Editors recommended new forms of the word</h2>
  <% if @word_object.form_queue.empty? %>
    <p>None</p>
  <% else %>
    <% @word_object.form_queue.each do |queued_form| %>
      <!-- Add form -->
      <form action='/vocab/<%= @list[:id] %>/<%= word %>/add_word_form' method='post'>
        <div>
          <label for='word_form'>Form of the word:</label>
          <input type="text" name="word_form" value="<%= queued_form.to_s %>">
        </div>
        <div>
          <label for='markers'>Markers for this form:</label>
          <input type="text" name="markers" value="<%= queued_form.markers.map(&:to_s).join(', ') %>">
        </div>
        <button type="submit" name="add_word_form">Add Form</button>
      </form>
      <!-- Dequeue Form -->
      <form action='/vocab/<%= @list[:id] %>/<%= word %>/delete_word_form/<%= queued_form.to_s %>' method="post">
        <label for='dequeue_word_form'>Dequeue Word Form</label>
        <input type="submit" name="dequeue_word_form">
      </form>
    <% end %>
  <% end %>
<% end %>

<a href="/vocab/<%= @list[:id] %>/<%= next_word_in_list(word, @list) %>">Next Word</a>
<a href="/vocab/<%= @list[:id] %>">Back to list</a>

<form method="post" action="/vocab/<%= @list[:id] %>/<%= word %>/delete">
  <button type="submit" name='delete_word'>Delete Word</button>
</form>