<% word = @word_object.word %>
<h2><%= word %></h2>
<form method="post" action="/vocab/<%= @list[:id] %>/<%= word %>/translation">
  <button type="submit" name="see_translation">See Translation</button>
</form>

<% if session[:see_translation] %>
  <p><%= @word_object.translation %></p>
<% session.delete(:see_translation) %>
<% end %>

<% unless @word_object.forms.empty? %>
  <ul>
      <% @word_object.forms.each do |form| %>
        <li>
          <p class="inline">"<%= form.to_s %></p>
          <form class='inline' action="/vocab/<%= @list[:id] %>/<%= word %>/delete_word_form/<%= form.to_s %>" method='post'>
            <button>Delete form</button>
          </form>
          <h5>Markers</h5>
          <ul>
            <% form.markers.each do |marker| %>
              <li>
                <%= marker.to_s %>
              </li>
            <% end %>
          </ul>
        </li>
  </ul>
  <% end %>
<% end %>

<form method="post" action="/vocab/<%= @list[:id] %>/<%= word %>/add_translation">
  <input type="text" name="new_translation">
  <button type="submit">Add Translation</button>
</form>

<p><a href="/vocab/<%= @list[:id] %>/<%= word %>/add_word_form">Add a new form of the word</a></p>

<form method="post" action="/vocab/<%= @list[:id] %>/<%= word %>/delete">
  <button type="submit" name='delete_word'>Delete Word</button>
</form>

<a href="/vocab/<%= @list[:id] %>">Back to list</a>