<% word = @word_object.word %>
<h2><%= word %></h2>
<form method="post" action="/vocab/<%= @list[:id] %>/<%= word %>/translation">
  <button type="submit" name="see_translation">See Translation</button>
</form>

<% if session[:see_translation] %>
  <p><%= @word_object.translation %></p>
<% session.delete(:see_translation) %>
<% end %>

<% unless @word_object.forms.empty? %>
  <ul>
    <% @word_object.forms.each do |form| %>
    <li>"<%= form.form %>" -- Markers: <%= form.markers.map(&:to_s) %></li>
  </ul>
  <% end %>
<% end %>

<form method="post" action="/vocab/<%= @list[:id] %>/<%= word %>/add_translation">
  <input type="text" name="new_translation">
  <button type="submit">Add Translation</button>
</form>

<p><a href="/vocab/<%= @list[:id] %>/<%= word %>/add_word_form">Add a new form of the word</a></p>

<form method="post" action="/vocab/<%= @list[:id] %>/<%= word %>/delete">
  <button type="submit" name='delet_word'>Delete Word</button>
</form>
